body {background-color:rgb(0, 0, 0);
  font-family: 'Noto Sans Display', sans-serif;

  
  
    min-width:650px;
    width: auto !important;
    width:550px;
    font-size: 1.5rem;
}
h1{color:rgb(132, 139, 132);
  font-weight: 800;
  font-size: 3rem;
  line-height:3rem;

word-spacing: 0.5rem;
padding-top: 2.5rem;
text-align: center;
margin-bottom: 2.5rem;
}


#maindiv {
  background-color: white;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 25px;
  
}


.calcelement{
margin-left: 20%;
padding-bottom: 15px;
font-family: 'Noto Sans Display', sans-serif;
white-space: normal;

}

#principal{
margin-left: 4.2rem;
width: 37%;
height: 1.6rem;
font-size: 1.5rem;
}

#rate{
  margin-left: 1rem;
  width: 31%;
}

#years{
  margin-left: 1.5rem;
  width: 6rem;
  height: 1.6rem;
  font-size: 1.5rem;
  
}

#result{
 opacity: 0;
}
.button{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 20%;
   
   padding: 0.15rem;
}

#computation-text {
  margin-left:8.5rem;
  line-height: 8px;
}

.trademark {
  margin-left: 1.5rem;
  padding-bottom:30px;
}


/*---Window resize CSS---*/

@media(max-width:786px){
  #computation-text {
    margin-left:20%;
    line-height: 8px;
  }
}

@media(min-width:850px){
 
 
  h1{
   font-size: 4.5rem;
   margin-bottom: 2.5rem;
   line-height: 5rem;

 }

 body{
   font-size: 1.5rem;
   line-height: 3.7rem;
 }

 #maindiv {
  margin-left: 6rem;
  margin-right: 6rem;
  
}


 .calcelement{
   margin-left: 24%;
 }

 .button{
   margin-left: 24%;
   font-size: 1.5rem;
   padding: 0.15rem;
 }

 #principal{
  width: 42%;
  height: 2.2rem;
  font-size: 2rem;
  }
  
  #rate{
    width: 39%;
    font-size: 100px;
    
  }
  
  #years{
    width: 6rem;
    height: 2.2rem;
    font-size: 2rem;
  }
  
  #computation-text {
    margin-left:24%;
    line-height: 1.6rem;
    padding-bottom: -8rem;
    
  }

  .trademark {
    padding-bottom: 1px;
  }
  
}
